.root {
  position: relative;

  display: inline-box;

  height: 100px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  background-color: transparent;
  border-radius: 4px;
}

.animated_container {
  position: absolute;
  height: 100%;
  width: 100%;
  cursor: pointer;
  will-change: transform, opacity;
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
  border-radius: 4px;
}

.back {
  background-color: var(--color-blue-darker);
}

.front {
  background-color: transparent;
  border: solid 1px var(--color-blue-darker);
}

.front_error {
  border: solid 2px var(--color-red-darker);
  color: var(--color-red-darker);
}

.success {
  border: solid 1px var(--color-success);
  color: var(--color-success);
}
